<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-header-col">
        <div class="col-md-6" id="left-header-contact">
          <span class="left-text-header-contact">
            <h1 class="h1-contact">Contact Us
            </h1>
          </span>
        </div>
        <div class="col-md-6" id="right-header-contact">
          <div class="img-right-header-contact">
            <img src="assets/img/4d210d0e4f129b0ebbbd319367597fff.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-text">
  <div class="container">
    <div class="row">
      <div class="contact-us-full">
        <div class="col-lg-12" id="full-contact">
          <div class="col-lg-6" id="left-contact">
            <h1 class="contact-t-h">
              Contact us
            </h1>
            <p class="text-p-contact">
              Create screens directly in Method or add your images from<br>
              Sketch. You can even sync designs from your cloud storage!
            </p>
            <form>
              <div class="col-md-12" id="full-form-validation">
                <div class="button-validation-form">
                  <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Username">
                  <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="text-area-message-form">
                  <textarea name="message" id="messageInput" placeholder="Message"  required></textarea>
                </div>
                <div class="button-form">
                  <button type="submit" class="btn btn-contact-send">Send</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6" id="right-contact">
            <div class="right-text">
              <p class="silver-text">
                Phone
              </p>
              <p class="black-text">
                078 689 976
              </p>

              <p class="silver-text-2">
                Email
              </p>
              <p class="black-text-2">
                sbabunovski@outlook.com
              </p>

              <p class="silver-text-3">
                Address
              </p>
              <p class="black-text-3">
                Adress Line
              </p>

              <div class="icons-contact">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-footer">
        <div class="col-md-2" id="footer-text1">
          <p class="footer-heading">About</p>
          <div class="link-other-sites">
            <a class="link-about" routerLink="/about">About us</a>
            <a class="link-contact" routerLink="/contact">Contact us</a>
            <a class="link-term" routerLink="/term-of-use">Term of use</a>
          </div>
        </div>
        <div class="col-md-2">
          <p class="footer-heading">Industry</p>
          <p class="par-bold">Beauty</p>
          <p>Hair</p>
          <p>Make Up</p>
          <p>Nail Art</p>
          <p>Spa</p>
          <br>
          <br>
          <p>Hair</p>
          <p>Make Up</p>
          <p>Nail Art</p>
          <p>Spa</p>
        </div>
        <div class="col-md-2">
          <br>
          <p></p>
          <p></p>
          <p class="par-bold">Sports</p>
          <p>Fitness</p>
          <p>Yoga</p>
          <p>Team Sport</p>
          <p>Sea Sport</p>
          <p>Snowboard</p>
          <br>
          <br>
          <p>Fitness</p>
          <p>Yoga</p>
          <p>Team Sport</p>
          <p>Snowboard</p>
        </div>
        <div class="col-md-2">
          <br>
          <p></p>
          <p class="par-bold">Education</p>
          <p>Language</p>
          <p>PC</p>
        </div>

        <div class="col-md-2">
          <p class="footer-heading">Company</p>
          <p>About</p>
          <p>Career</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-2">
          <p class="footer-heading">Help</p>
          <p>FAQ</p>
          <p>Help support</p>
        </div>
      </div>
      <hr class="footer-hr">
      <div class="newsletter">
        <form>
          <div class="mb-3" id="email-newsletter">
            <p class="newsletter1">Newsletter</p>
            <input type="email" class="form-control2" id="exampleInputEmail2" aria-describedby="emailHelp"
                   placeholder="Type your e-mail">
            <button type="submit" class="btn btn-primary-2">Get Started</button>

            <div class="footer-icons">
              <div class="icon1-footer">
                <img src="assets/img/twitter.png">
              </div>
              <div class="icon2-footer">
                <img src="assets/img/google.png">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
