<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-header-col">
        <div class="col-md-6" id="left-header">
          <span class="left-text-header">
            <h1 class="header-h1">Schedule<br>
            Appointments<br>
            on the Fly!
            </h1>
            <p class="description-header-1">Free scheduling tool for individuals and businesses.<br>
            Online booking, payments, smart reminders and more.</p>
            <div class="email-button">
              <form>
               <div class="mb-3" id="form-email">
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your e-mail">
                 <button type="submit" class="btn btn-primary">Get Started</button>
              </div>
                <p id="description-header-2">Create your account free. No credit card required.</p>
              </form>
            </div>
          </span>
        </div>
        <div class="col-md-6" id="right-header">
          <div class="img-right-header">
            <img src="assets/img/02f297528f3391da2ef429448d1c5262.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- New section -->
<section class="passion">
  <div class="container">
    <div class="row">
      <div class="passion-text">
        <h1>The easiest way to turn <br>your passion into income</h1>
        <span>Create screens directly in Method or add your images from Sketch or <br>Figma. You can even sync designs from your cloud storage!</span>
      </div>
      <div class="passion-block-1">
        <div class="col-md-12">
          <div class="col-md-6" id="left-block-1">
            <div class="text-block-1">
              <p class="red-text">
                Easy Scheduling
              </p>
              <h1>
                Link your calendar and<br>
                publish your booking page
              </h1>
              <p>
                Create screens directly in Method or add your<br>
                images from Sketch or Figma. You can even sync <br>
                designs from your cloud storage! You can even<br>
                sync designs from your cloud storage!
              </p>
            </div>
          </div>
          <div class="col-md-6" id="right-block-1">
            <div class="img-right-block-1">
              <img src="assets/img/ebe83f999fd79e2462f515c2d0ad1727.png">
            </div>
          </div>
        </div>
      </div>

      <!-- BLOCK 2 -->

      <div class="passion-block-2">
        <div class="col-md-12">
          <div class="col-md-6" id="left-block-2">
            <div class="img-right-block-1">
              <img src="assets/img/19576e59f05ba00be6b201f284ad8bf9.png">
            </div>
          </div>
          <div class="col-md-6" id="right-block-2">
            <div class="text-block-2">
              <p class="red-text">
                Automated Reminders
              </p>
              <h1>
                No more show-offs, a lot<br>
                more productivity
              </h1>
              <p>
                Create screens directly in Method or add your<br>
                images from Sketch or Figma. You can even sync<br>
                designs from your cloud storage! You can even<br>
                sync designs from your cloud storage!
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- BLOCK 3 -->

      <div class="passion-block-3">
        <div class="col-md-12">
          <div class="col-md-6" id="left-block-3">
            <div class="text-block-3">
              <p class="red-text">
                App Integrations
              </p>
              <h1>
                Integrate your daily apps and<br>
                put autopilot mode on
              </h1>
              <p>
                Create screens directly in Method or add your<br>
                images from Sketch or Figma. You can even sync<br>
                designs from your cloud storage! You can even<br>
                sync designs from your cloud storage!
              </p>
            </div>
          </div>
          <div class="col-md-6" id="right-block-3">
            <div class="img-right-block-1">
              <img src="assets/img/be4a1a615bac58400c9864767a3d34ff.png">
            </div>
          </div>
        </div>
      </div>


      <!-- BLOCK 4 -->
      <div class="passion-block-4">
        <div class="col-md-12">
          <div class="col-md-6" id="left-block-4">
            <div class="img-right-block-1">
              <img src="assets/img/d50c9a781da4fffc6b6bdba259ee1a64.png">
            </div>
          </div>
          <div class="col-md-6" id="right-block-4">
            <div class="text-block-2">
              <p class="red-text">
                Team Management
              </p>
              <h1>
                Make sure everyone is<br>
                on the same page
              </h1>
              <p>
                Create screens directly in Method or add your<br>
                images from Sketch or Figma. You can even sync<br>
                designs from your cloud storage! You can even<br>
                sync designs from your cloud storage!
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- BLOCK 5 -->
      <div class="passion-block-5">
        <div class="col-md-12">
          <div class="col-md-6" id="left-block-5">
            <div class="text-block-5">
              <p class="red-text">
                App Integrations
              </p>
              <h1>
                Get paid before you comfirm<br>
                the appointments
              </h1>
              <p>
                Create screens directly in Method or add your<br>
                images from Sketch or Figma. You can even sync<br>
                designs from your cloud storage! You can even<br>
                sync designs from your cloud storage!
              </p>
            </div>
          </div>
          <div class="col-md-6" id="right-block-5">
            <div class="img-right-block-1">
              <img src="assets/img/6b870fdd02344f8a87dd8aa3192abfc3.png">
            </div>
          </div>
        </div>
      </div>


      <!-- BLOCK 6 -->
      <div class="passion-block-6">
        <div class="col-md-12">
          <div class="col-md-6" id="left-block-6">
            <div class="img-right-block-1">
              <img src="assets/img/69970eb1f4e7db822eb6aa78b235ac59.png">
            </div>
          </div>
          <div class="col-md-6" id="right-block-6">
            <div class="text-block-6">
              <p class="red-text">
                Team Management
              </p>
              <h1>
                Send tailor made invoices,<br>
                request payments
              </h1>
              <p>
                Create screens directly in Method or add your<br>
                images from Sketch or Figma. You can even sync<br>
                designs from your cloud storage! You can even<br>
                sync designs from your cloud storage!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="heading-area">
  <div class="container">
    <div class="row">
      <div class="text-heading-area">
        <h1>Heading Text Area</h1>
      </div>
      <div class="card-area">
        <div class="col-md-12" id="card-area-box">
          <div class="col-md-3" id="card-box-1">
            <div class="card">
              <img src="assets/img/marvin-bellendorf-pgG-HrFh6s8-unsplash 2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Hair Saloon</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-2">
            <div class="card">
              <img src="assets/img/bruce-mars-HHXdPG_eTIQ-unsplash%202.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Personal Trainer</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-3">
            <div class="card">
              <img src="assets/img/chris-montgomery-smgTvepind4-unsplash%202.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Online Class</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-4">
            <div class="card">
              <img src="assets/img/rian-ramirez-rm7rZYdl3rY-unsplash%202%20(1).png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Uzun metin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-end-see-more-icon">
        <p>See More</p>
        <div class="circle-see-more">
          <i class="las la-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Connect to your daily apps -->
<section class="daily-apps">
  <div class="container">
    <div class="row">
      <div class="heading-daily-section">
        <h1>Connect to your daily apps</h1>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-md-2" id="carousel-logo-1">
              <img src="assets/img/Vector%20(2).png" class="d-block " alt="...">
            </div>
            <div class="col-md-2" id="carousel-logo-2">
              <img src="assets/img/Rakuten.png" class="d-block " alt="...">
            </div>
            <div class="col-md-2" id="carousel-logo-3">
              <img src="assets/img/Vector.png" class="d-block " alt="...">
            </div>
            <div class="col-md-2" id="carousel-logo-4">
              <img src="assets/img/Vector%20(3).png" class="d-block " alt="...">
            </div>

            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>


<section class="booking-notification">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-booking">
        <div class="col-md-6" id="left-booking">
          <span class="left-text-booking">
            <h1 class="booking-h1">Bookings,<br>
              Payments,<br>
              Notifications

            </h1>
            <p class="description-booking">
             You can make a couple of more visits to a coffee shop,<br>
              or you can start accepting online bookings, activate<br>
                in advance payments and automated communications!
            </p>
            <div class="email-button">
              <form>
               <div class="mb-3" id="start-trial">
                 <button type="submit" class="btn btn-primary" id="btn-trial">Start 30 day trial</button>
              </div>
                <p id="description-booking-2">
                  * No credit card required.
                </p>
              </form>
            </div>
          </span>
        </div>
        <div class="col-md-6" id="right-booking">
          <div class="img-right-header">
            <img src="assets/img/slider_illustrasyon1 1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-footer">
        <div class="col-md-2" id="footer-text1">
          <p class="footer-heading">About</p>
          <div class="link-other-sites">
            <a class="link-about" routerLink="/about">About us</a>
            <a class="link-contact" routerLink="/contact">Contact us</a>
            <a class="link-term" routerLink="/term-of-use">Term of use</a>
          </div>
        </div>
        <div class="col-md-2">
          <p class="footer-heading">Industry</p>
          <p class="par-bold">Beauty</p>
          <p>Hair</p>
          <p>Make Up</p>
          <p>Nail Art</p>
          <p>Spa</p>
          <br>
          <br>
          <p>Hair</p>
          <p>Make Up</p>
          <p>Nail Art</p>
          <p>Spa</p>
        </div>
        <div class="col-md-2">
          <br>
          <p></p>
          <p></p>
          <p class="par-bold">Sports</p>
          <p>Fitness</p>
          <p>Yoga</p>
          <p>Team Sport</p>
          <p>Sea Sport</p>
          <p>Snowboard</p>
          <br>
          <br>
          <p>Fitness</p>
          <p>Yoga</p>
          <p>Team Sport</p>
          <p>Snowboard</p>
        </div>
        <div class="col-md-2">
          <br>
          <p></p>
          <p class="par-bold">Education</p>
          <p>Language</p>
          <p>PC</p>
        </div>

        <div class="col-md-2">
          <p class="footer-heading">Company</p>
          <p>About</p>
          <p>Career</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-2">
          <p class="footer-heading">Help</p>
          <p>FAQ</p>
          <p>Help support</p>
        </div>
      </div>
      <hr class="footer-hr">
      <div class="newsletter">
        <form>
          <div class="mb-3" id="email-newsletter">
            <p class="newsletter1">Newsletter</p>
            <input type="email" class="form-control2" id="exampleInputEmail2" aria-describedby="emailHelp"
                   placeholder="Type your e-mail">
            <button type="submit" class="btn btn-primary-2">Get Started</button>

            <div class="footer-icons">
              <div class="icon1-footer">
                <img src="assets/img/twitter.png">
              </div>
              <div class="icon2-footer">
                <img src="assets/img/google.png">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
