<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-header-col">
        <div class="col-md-6" id="left-header-industries">
          <span class="left-text-header-industries">
            <h1 class="h1-industries">About<br>
              Industries<br>
              Page
            </h1>
            <p class="description-industries-1">Free scheduling tool for individuals and businesses.<br>
            Online booking, payments, smart reminders and more.</p>
          </span>
        </div>
        <div class="col-md-6" id="right-header-industries">
          <div class="img-right-header-industries">
            <img src="assets/img/587a36c122b028fda07a556094244b80.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="industries">
  <div class="container">
    <div class="row">
      <div class="heading-industries">
        <p class="text-industries">
          Industries
        </p>
        <span class="text-2-industries">
      Create screens directly in Method or add your images from Sketch or<br> Figma. You can even sync designs from your cloud storage!
    </span>
      </div>

      <div class="card-area">
        <div class="col-md-12" id="card-area-box">
          <div class="col-md-3" id="card-box-1">
            <div class="card">
              <img src="assets/img/marvin-bellendorf-pgG-HrFh6s8-unsplash 2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Hair Saloon</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-2">
            <div class="card">
              <img src="assets/img/bruce-mars-HHXdPG_eTIQ-unsplash%202.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Personal Trainer</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-3">
            <div class="card">
              <img src="assets/img/chris-montgomery-smgTvepind4-unsplash%202.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Online Class</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-4">
            <div class="card">
              <img src="assets/img/rian-ramirez-rm7rZYdl3rY-unsplash%202%20(1).png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Uzun metin</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-area">
        <div class="col-md-12" id="card-area-box-2">
          <div class="col-md-3" id="card-box-11">
            <div class="card">
              <img src="assets/img/marvin-bellendorf-pgG-HrFh6s8-unsplash 2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Hair Saloon</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-22">
            <div class="card">
              <img src="assets/img/bruce-mars-HHXdPG_eTIQ-unsplash%202.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Personal Trainer</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-33">
            <div class="card">
              <img src="assets/img/chris-montgomery-smgTvepind4-unsplash%202.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Online Class</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="card-box-44">
            <div class="card">
              <img src="assets/img/rian-ramirez-rm7rZYdl3rY-unsplash%202%20(1).png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Uzun metin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-end-see-more-icon">
        <p>See More</p>
        <div class="circle-see-more">
          <i class="las la-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="booking-payments">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-booking">
        <div class="col-md-6" id="left-booking">
          <span class="left-text-booking">
            <h1 class="booking-h1">Bookings,<br>
              Payments,<br>
              Notifications

            </h1>
            <p class="description-booking">
             You can make a couple of more visits to a coffee shop,<br>
              or you can start accepting online bookings, activate<br>
                in advance payments and automated communications!
            </p>
            <div class="email-button">
              <form>
               <div class="mb-3" id="start-trial">
                 <button type="submit" class="btn btn-primary" id="btn-trial">Start 30 day trial</button>
              </div>
                <p id="description-booking-2">
                  * No credit card required.
                </p>
              </form>
            </div>
          </span>
        </div>
        <div class="col-md-6" id="right-booking">
          <div class="img-right-header">
            <img src="assets/img/slider_illustrasyon1 1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="full-footer">
        <div class="col-md-2" id="footer-text1">
          <p class="footer-heading">About</p>
          <div class="link-other-sites">
            <a class="link-about" routerLink="/about">About us</a>
            <a class="link-contact" routerLink="/contact">Contact us</a>
            <a class="link-term" routerLink="/term-of-use">Term of use</a>
          </div>
        </div>
        <div class="col-md-2">
          <p class="footer-heading">Industry</p>
          <p class="par-bold">Beauty</p>
          <p>Hair</p>
          <p>Make Up</p>
          <p>Nail Art</p>
          <p>Spa</p>
          <br>
          <br>
          <p>Hair</p>
          <p>Make Up</p>
          <p>Nail Art</p>
          <p>Spa</p>
        </div>
        <div class="col-md-2">
          <br>
          <p></p>
          <p></p>
          <p class="par-bold">Sports</p>
          <p>Fitness</p>
          <p>Yoga</p>
          <p>Team Sport</p>
          <p>Sea Sport</p>
          <p>Snowboard</p>
          <br>
          <br>
          <p>Fitness</p>
          <p>Yoga</p>
          <p>Team Sport</p>
          <p>Snowboard</p>
        </div>
        <div class="col-md-2">
          <br>
          <p></p>
          <p class="par-bold">Education</p>
          <p>Language</p>
          <p>PC</p>
        </div>

        <div class="col-md-2">
          <p class="footer-heading">Company</p>
          <p>About</p>
          <p>Career</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-2">
          <p class="footer-heading">Help</p>
          <p>FAQ</p>
          <p>Help support</p>
        </div>
      </div>
      <hr class="footer-hr">
      <div class="newsletter">
        <form>
          <div class="mb-3" id="email-newsletter">
            <p class="newsletter1">Newsletter</p>
            <input type="email" class="form-control2" id="exampleInputEmail2" aria-describedby="emailHelp"
                   placeholder="Type your e-mail">
            <button type="submit" class="btn btn-primary-2">Get Started</button>

            <div class="footer-icons">
              <div class="icon1-footer">
                <img src="assets/img/twitter.png">
              </div>
              <div class="icon2-footer">
                <img src="assets/img/google.png">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
